params {
    reads = "data/*_{1,2}.fastq.gz"
    outdir = "results"
}

process {
    withName: 'FastQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName: 'MultiQC' {
        container = 'quay.io/biocontainers/multiqc:1.9--py_1'
    }
    withName: 'Cutadapt' {
        container = 'quay.io/biocontainers/cutadapt:2.10--py37h516909a_1'
    }
    withName: 'STAR' {
        container = 'quay.io/biocontainers/star:2.7.3a--0'
    }
    withName: 'FeatureCounts' {
        container = 'quay.io/biocontainers/subread:2.0.1--h1b792b2_0'
    }
    withName: 'EdgeR' {
        container = 'bioconductor/bioconductor_docker:RELEASE_3_11'
    }
}

docker.enabled = true
